# 01. 판다스 입문

In [ ]:
# 딕셔너리 -> 시리즈
import pandas as pd

dict_data = {'a':1, 'b':2, 'c':3}
list_data = [1,2,3]

srd = pd.Series(dict_data)
srl = pd.Series(list_data)

print(type(dict_data), dict_data)
print(type(srd), '\n', srd)

print(type(list_data), list_data)
print(type(srl), '\n', srl)

In [ ]:
# 인덱스 확인
print(srd.index)
print(srl.index)

# 시리즈의 값을 확인
print('srd.value', srd.values)
print('srl.value', srl.values)

In [ ]:
# 각 자료의 원소 선택
sr_data = pd.Series(list(range(10)))
sr_data[1:]
srd['a']
sr_key = pd.Series({'a' : 1, 'b' : 2, 'c' : 3})

In [ ]:
print(sr_key)
print(sr_key['a' : 'c']) # c포함
print(sr_key[0:2]) # 2미포함

In [ ]:
sr_list = pd.Series(list(range(5)), index=['a', 'b', 'c', 'd', 'x'])
sr_list

In [ ]:
# 마지막 자료 출력 : 인덱스 명과 첨자 둘다
print(sr_list.index[-1], sr_list[-1])
# 1번째부터 3번째 까지의 자료 출력, 인덱스명 으로도 출력
print(sr_list[1:4],'\n',sr_list['a':'c'])
# 인덱스명 'b' 와 'd'의 값을 출력
print(sr_list[["b",'d']])

In [ ]:
# dataframe : 2차원, pandas.DataFrame(data(2차원), [index=] , [columns= ])
dict_data = {'c0' : [1,2,3], 'c1':[4,5,6], 'c2':[7,8,9]}
df = pd.DataFrame(dict_data)
df

In [ ]:
df = pd.DataFrame([[15, '남', '수리중'], [17, '여', '덕명중']],
                 index=['준서', '예은'],
                 columns=['나이', '성별', '학교'])
df

In [ ]:
# 인덱스명 변경
# 객체명.index = 새로운 인덱스명
print(df)
df.index=['a', 'b', 'c' ]
df
df.columns = ['연령', '남녀', '학교', '잘못1', '잘못2']
df

# 일부 인덱스명만 수정
# 객체명.rename(index={기존인덱스:새로운인덱스})
# 객체명.rename(columns={기존컬럼명:새로운컬럼명})
df.rename(index={'a':'준서'}, columns={'남녀':'성별'}, inplace=True)
df

In [ ]:
# 행 추가 df.loc['인덱스명'] = [값, ..] or df.인덱스명 = 값
df.loc['은서'] = ['17', '여', '평택중', 1, 1]
df

In [ ]:
# 이름을 키로, 국어, 영어, 수학 과학 점수를 값으로
# 입력받아 dictonary에 저장한 후
# 해당 자료를 데이터 프레임으로 전환->인덱스명은 이름으로

In [ ]:
import pandas as pd
def create_student():
    list_value = []
    while True:
        name = input("이름 국어 영어 수학(q) :").split()
        if name[0] == 'q':
            break
        else:
            list_student = []
            for i in list(range(len(name))):
                list_student.append(name[i])
            list_value.append(list_student)
    return list_value

In [ ]:
A = pd.DataFrame(create_student())
A.columns = ['이름', '국어', '영어', '수학', '과학']
print(A)

In [ ]:
exam_data = {'수학' : [90, 80, 70], '영어':[99, 87, 95], '음악':[85, 95, 100], '체육':[100, 90, 100]}
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

In [ ]:
print(df.loc['서준'])
print(df.iloc[0])

In [ ]:
df.loc[['서준'],['수학', '체육']]

In [ ]:
df['수학 : '음악']

In [ ]:
# 범위 슬라이싱 : 객체.iloc[star : end : step]
df.iloc[::2]

In [ ]:
print(df.loc['서준', '영어'], df.iloc[0,1])

In [ ]:
df.loc[['서준','인아'], ['영어' , '체육']]

In [ ]:
df.loc['서준', '체육']

In [8]:
# 이름, 국어, 영어 수학점수 입력받아 이름을 인덱스로 데이터프레임에 저장
# df 을 출력
# 이름을 입력받아 데이터프레임의 자료를 검색해서 출력
# 이름과 과목을 입력받아 데이터 출력

import pandas as pd
def create_student():
    list_value = []
    score_name = []
    while True:
        name = input("이름 국어 영어 수학(q) :").split()
        if name[0] == 'q':
            break
        else:
            list_student = []
            for i in list(range(len(name))):
                list_student.append(name[i])
                if i==0:
                    score_name.append(list_student[0])
            list_value.append(list_student)
            
    return list_value, score_name

In [9]:
def search(A):
    search_name = input('검색할 이름 입력 :')
    search_score = input('과목입력 :')
    try:
        return print(A.loc[search_name],[search_score])
    except:
        print('잘못 입력하셨습니다.')

In [10]:
def add_score(A):   
    name_plus = input('추가할 이름 :')
    score_plus = [name_plus]+list(map(int, input("국어 영어 수학 :").split()))
    try:
        A.loc[name_plus] = score_plus
    except:
        print('잘못 입력하셨습니다.')
    return A

In [12]:
list_value, score_name = create_student()
try:
    A = pd.DataFrame(list_value, index=score_name, columns =["이름", '국어', '영어', '수학'])
except:
    print('잘못 입력하셨습니다.')
print(A)
search(A)
add_score(A)

이름 국어 영어 수학(q) :a4 qwe qwe qwe
이름 국어 영어 수학(q) :sadqwe qwe asd
이름 국어 영어 수학(q) :qweqweasd asd qweqwe qwe qwe
이름 국어 영어 수학(q) :q
잘못 입력하셨습니다.
    이름  국어  영어  수학
파랑  파랑  10  50  60
블루  블루  78  99  60
레드  레드  44  55  77
검색할 이름 입력 :asd
과목입력 :asd
잘못 입력하셨습니다.
추가할 이름 :수진
국어 영어 수학 :50 60 50

    이름  국어  영어  수학
파랑  파랑  10  50  60
블루  블루  78  99  60
레드  레드  44  55  77
수진  수진  50  60  50